<%- include('./common/header.ejs'); %>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">View All Appointments</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 70vh;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <!-- <th>Patient</th> -->
              <th>Doctor</th>
              <th>Patient Name</th>
              <th>Date & Time</th>
              <th>Chat</th>
              <th>Fees</th>
              <th>Fees Status</th>
              <!-- <th>Update</th> -->
            </tr>
          </thead>
          <tbody>

            <!-- <tr>
              <td>183</td>
              <td>Sourav sharma</td>
              <td>Prashant Mishra</td>
              <td>11-7-2014</td>
              <td><span class="tag tag-success">Scheduled</span></td>
              <td>Stomach Ache</td>
              <td>General OPD</td>
              <td>Online</td>
              <td>500</td>
              <td>Paid</td>
              <td><a href="#"><span class="badge bg-danger"><i class="fas fa-arrow-circle-right"></i></span></a></td>
            </tr> -->
            
            <% for(var i=0; i < appointments.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <!-- <td>...<%= appointments[i].appointmentId.toString().slice(20,24) %></td> -->
                <!-- <td><%= appointments[i].speciality %></td> -->
                <td><%= appointments[i].doctor %></td>
                <td><%= appointments[i].patientDetails.name %>, <%= appointments[i].patientDetails.age %>yr old, <%= appointments[i].patientDetails.gender %></td>
                <td><%= appointments[i].time.toLocaleString('en-US') %></td>
                <td><a href="#" class="btn btn-primary" id="goToChat" onclick="goToChat('<%= appointments[i].appointmentId %>')"><i class="fas fa-comments"></i></a></td></td>
                <!-- <td><span class="tag tag-success"><%= appointments[i].paymentStatus %></span></td> -->
                <td><%= appointments[i].fees %></td>
                <td>
                    <% if(appointments[i].paymentStatus == false) { %>
                        Not Done
                    <% } else { %> Done <% } %>
                </td>
                <!-- <td><a href="/admin/udpate-appointment/<%= appointments[i].appointmentId %>"><span class="badge bg-success"><i class="fas fa-arrow-circle-right"></i></span></a></td> -->
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <script>
        const goToChat = async(id) => {
            const data = await fetch(`/chat/${id}`, {
            method: 'POST'
            }).then(t => t.json())
            .catch(e => {
            alert('Unable to fetch Chat Details because of ' + e)
            })
            console.log(data)
            try {
            chatid = data.chatInfo.chatid;
            console.log('chat id is: ' + chatid)
            var location = `/appointment-chat/${chatid}`;
            window.location=location
            } catch (error) {
            alert("Unable to fetch Chat Details because of " + error)
            }
        }
      </script>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
  

<%- include('./common/footer.ejs'); %>