<%- include('./common/header.ejs'); %>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">View All Consultant</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 70vh;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
                <th>S. No.</th>
              <th>ID</th>
              <!-- <th>Patient</th> -->
              <th>Doctor</th>
              <th>Number</th>
              <th>Fees</th>
              <th>Role</th>
              <!-- <th></th> -->
              <!-- <th>Update</th> -->
            </tr>
          </thead>
          <tbody>

            <!-- <tr>
              <td>183</td>
              <td>Sourav sharma</td>
              <td>Prashant Mishra</td>
              <td>11-7-2014</td>
              <td><span class="tag tag-success">Scheduled</span></td>
              <td>Stomach Ache</td>
              <td>General OPD</td>
              <td>Online</td>
              <td>500</td>
              <td>Paid</td>
              <td><a href="#"><span class="badge bg-danger"><i class="fas fa-arrow-circle-right"></i></span></a></td>
            </tr> -->
            
            <% for(var i=0; i < doctors.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <!-- <td><%= doctors[i].speciality %></td> -->
                <td><%= doctors[i].id %></td>
                <td><%= doctors[i].name %></td>
                <td><%= doctors[i].phoneNumber %></td>
                <!-- <td><a href="#" class="btn btn-primary" id="goToChat" onclick="goToChat('<%= doctors[i].appointmentId %>')"><i class="fas fa-comments"></i></a></td></td> -->
                <!-- <td><span class="tag tag-success"><%= doctors[i].paymentStatus %></span></td> -->
                <td><%= doctors[i].fees %></td>
                <td><%= doctors[i].role %></td>
                <!-- <td><a href="/admin/udpate-appointment/<%= doctors[i].appointmentId %>"><span class="badge bg-success"><i class="fas fa-arrow-circle-right"></i></span></a></td> -->
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <script>
        const goToChat = async(id) => {
            const data = await fetch(`/chat/${id}`, {
            method: 'POST'
            }).then(t => t.json())
            .catch(e => {
            alert('Unable to fetch Chat Details because of ' + e)
            })
            console.log(data)
            try {
            chatid = data.chatInfo.chatid;
            console.log('chat id is: ' + chatid)
            var location = `/appointment-chat/${chatid}`;
            window.location=location
            } catch (error) {
            alert("Unable to fetch Chat Details because of " + error)
            }
        }
      </script>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
  

<%- include('./common/footer.ejs'); %>